body{
	background-color: #628B61;
}

.questionNo{
	text-align: center;
	font-size: 28px;
	font-family: arial;
	font-weight: bold;
	margin-top: 35px;
}
.wrapperBoxText{
	height: 90px;
	position: relative;
}

.boxText{
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
	font-size: 24px;
	color: black;
	font-family: arial;
	font-weight: bold;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.startText{
	height: 23px;
	font-size: 33px;
	margin-top: 50px;
}

.endText{
	height: 46px;
	font-size: 26px;
	margin-top: 66px;
}

.box{
	width:500px;
	background-color: #F3D5BD;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	box-shadow: 0px 0px 50px #102607;
}

.box button{
	border-radius: 6px;
	border: 0px;
	cursor: pointer;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	width: 290px;
	height: 70px;
	color: black;
	left: calc(50% - 145px);
	margin-bottom: 52px;
	margin-top: 28px;
}

.buttonStartEnd{
	background-image: linear-gradient(to bottom, #de8b49 0,#a65b1e 100%);
}
	
.box button:disabled{
    background-image: linear-gradient(to bottom, #D1B8A3  0, #D1B8A3 100%);
	cursor: initial;
	color: #A9A9A9;
}

.box button:hover:enabled{
   background-image: linear-gradient(to bottom, #a65b1e 0, #de8b49 100%);
}

.dialogStart{
	z-index: 100;	
}

.dialogEnd{
	display: none;
}

.dialogQuestion{ 
	display: none;
}

.optionsWrap{
	width: 290px;
	margin: 0 auto;
	position: relative;
}

.mark{
	position: absolute;
	display: none;
	width: 40px;
	height: 36px; 
	z-index: 100;
	background-image: url('truefalse.png');
	background-repeat: no-repeat;
	background-size: 200%;
}

.mark-correct{
	background-position: 100%; 
	left: calc(100% + 10px);
	display: block;
}

.mark-wrong{
	display: block;
	left: calc(50% - 20px);
}

.mark0{
	top: 27px;
}
.mark1{
	top: 107px;
}
.mark2{
	top: 185px;
}
.mark3{
	top: 266px;
}

.option {
	position: relative;
	border-radius: 6px;
	border: 0px;
	cursor: pointer;
	font-family: arial;
	font-size:20px;
	font-weight:bold;
	width: 100%;
	height: 70px;
	margin-top: 10px;
	text-align: center;
	left: calc(50% - 145px);
	background-image: linear-gradient(to bottom, #397249 0, #9CB770 100%);
	color: black;
}

.option:disabled{
	cursor: initial;
}

.option:hover{
	background-image: linear-gradient(to bottom, #9CB770 0, #FFFFFF 100%);
}

.correctAnswer{
	border: 2px dashed green;
	border-radius: 182px / 52px;
	font-size: 22px;
	text-shadow: 0px 0px 2px gold;
}




